@import "./Library.scss";

* {
  transition: all 0.2s ease;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;

}


@media (min-width: 0) {

  .to-top-btn {
    z-index: $z-20;
    position: fixed;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: rgb(43, 106, 168);
    text-align: center;
    border-radius: 100px;
    right: 1rem;
    bottom: 1rem;
    color:white;
    opacity: .8;
    &:hover {
      background-color: rgb(57, 152, 230);
      
    }
    
  }
  .to-top-btn > i {
    position: relative;
    font-size: 42px;
    top:.7rem;
    &:hover {
      top:.5rem
    }
    
  }

  .app {
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: $regular;
    font-size: 16px;
  }


  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-float infinite 3s ease-in-out;
    }
  }

  .App-link {
    color: rgb(112, 76, 182);
  }

  @keyframes App-logo-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@media (min-width: 960px) {
  .app {
    font-size: 20px;
  }
}
