// # Standardize variables to use all across the project 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
$global-p:0 12%;

/* ## font-size */
$h1: 48.83px;
$h2: 39.06px;
$h3: 31px;
$h4: 25px;
$b1: 20px;
$b2: 16px;

/* ## font-weight */
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;



/* ## z-index */
$z-5: 5;
$z-10: 10;
$z-15: 15;
$z-20: 20;
$z-25: 25;
